@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Hello, I'm Harpreet Chahal.</h1>


<p>
    <ul>
        <li>Recently Graduate with Masters In software Engineering</li>
        <li>Learnt  JavaScript, HTML, Asp.net</li>
        <li>An independent, dedicated, efficient person. These attributes are proved through the series of courses I have taken or I am taking as of now independently through online platforms.</li>
        <li>Good Communication Skills, Presentation Skills, attitude towards leadership, authorisation and delegation, conflict resolution and negotiation and a very good team worker.</li>
    </ul>
</p>
<h3>Professional Experience</h3>
<h4 id="company-name">Mobians Tech</h4>
<p id="job-title"><strong>Internship</strong></p>
<p id="job-responsibilities">Job Responsbilities</p>

<p>
    <ul>
        <li>live project for Tasmania world</li>
        <li>Interact with our engineering team to get software issues and bugs resolved</li>
        <li>Occasionally interact with customers over Skype or telephone</li>
        <li>Contribute ideas to the team on how customers can be delighted</li>
    </ul>
</p>
<h4 id="company-name">ADTC solutions </h4>
<p id="job-title"><strong>Internship</strong></p>
<p id="job-responsibilities">Job Responsbilities</p>
<p>
    <ul>
        <li>live project for beyond teaching and learning</li>
        <li>Primary role: Scrum Master </li>
        </p>
</ul>
        <h3>Educational Qualifications</h3>
        <table>
            <tr id="heading">
                <td> Qualification </td>
                <td>  Board  </td>
                <td>  Percentage / Grades </td>
                <td> Year</td>
            </tr>
            <tr>
                <td>Bachelor in Information technology  </td>
                <td> Punjab Technical University India  </td>
                <td> 75.57% </td>
                <td> 2014 </td>
            </tr>
            <tr>
                <td> Masters in Software Engineering </td>
                <td> Federation University Australia </td>
                <td> 72.40% </td>
                <td> nov-2016</td>
            </tr>


        </table>

        <h3>Personal Information:</h3>
<p>
    <ul>
        <li>
            A young, determined hard and smart working person. I believe in task based roles and complete ownership of work.
        <li>
            <span id="course-name">Languages Known:</span>English, Hindi, punjabi
        </li>
        <li>
            <span id="course-name">Hobbies:</span>I love reading  IT related books / magazines,  listening music, surfing Internet, self-learning through e-courses.
        </li>
    </ul>
</p>
<h3>Other Information</h3>
<p>
    <ul>

        <li>
            <span id="course-name">Area of Interest:</span>Software Development, Programming,
            Start-ups, Coding, App Development, Technical Support, Support Engineer, Customer Happiness,
            Client service, Research
        </li>
        <li>
            <span id="course-name">Joining Date:</span>Immediate
        </li>
    </ul>
</p>
<h3>Declaration</h3>
<p>
    I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief.
</p>
    </div>
<div id="footer"></div>
</body>
</html>
