@{
    ViewBag.Title = "Contact details";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Harpreet Chahal</br>
    Footscray Melbourne <br />
    <abbr title="Phone">P:</abbr>
+61450220443
</address>

